@charset "utf-8";

@import (inline) 'bootstrap.min.css';
@import (inline) 'colorbox.css';
@import (inline) 'flexslider.css';
@import (inline) 'popper.css';
@import (inline) 'animate.min.css';
@import (inline) 'rangeslider.css';
@import (inline) 'font-awesome.css';


/* ==|== Primary Styles begins here =============================================
	@author Serhan Karakaya <http://serhankarakaya.com>
	@link https://completodigital.com
	========================================================================== */

/*.Less functions ends here*/
body {
	direction: ltr;
	z-index: 1;
	font-family: 'Nunito Sans', sans-serif;
}

/*Form classes begins here*/
label {
	&.error {
		color: #ff0000;
		font-size: 12px;
	}
}
.btn-navy {
	background-color: #103962;
	color: #fff;
}
/*Form classes goes here*/

/*Header begins here*/
header {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 18px;
	.navbar-top-wrap {
		padding: 0 16px;
		.navbar-top {
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid rgba(255,255,255,0.3);
			&:after {
				content: "";
				clear: both;
				display: table;
			}
		}
	}
	.navbar-toggler {
		color: #fff;
	}
	.container {
		padding-right: 0;
		padding-left: 0;
	}
	@media(min-width: 992px){
		.container {
			position: relative;
		}
		.navbar {
			position: static;
		}
		.top-nav {
			position: absolute;
			top: 5px;
			right: 24px;
			font-size: 15px;
			i {
				vertical-align: middle;
				font-size: 20px;
			}
		}
		.nav-item {
			margin-left:  30px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.nav-item {
		white-space: nowrap;
		.btn-light {
			img {
				vertical-align: sub;
			}
		}
	}
	@media(max-width: 991.98px){
		.top-nav {
			i {
				display: none;
			}
		}
	}
	.nt-left {
		white-space: nowrap;
		font-size: 19px;
		a {
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.nt-right {
		@media(max-width: 500px){
			zoom: 0.5;
		}
	}
	.navbar-collapse {
		@media(max-width: 991.98px){
			padding-right: 20px;
			padding-left: 20px;
			background-color: rgba(0,0,0,0.9);
		}
	}
}
.navbar-exen {
	.navbar-nav {
		.nav-link {
			color: #fff;
		}
		&.active {
			.nav-link {
				color: #fff;
			}
		}
	}
}
/*Header ends here*/

/*Footer begins here*/
footer {
	position: relative;
	background-color: #fafafa;
	z-index: 9;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	&.mpfooter {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	a {
		color: #000;
		&:hover, &:focus {
			color: #000;
		}
	}
	.list-fnav {
		& > li {
			display: inline-block;
			a {
				padding: 0 10px;
			}
		}
	}
	.footer-l {
		text-align: left;
		white-space: nowrap;
	}
	.footer-c {
		text-align: center;
	}
	.footer-r {
		text-align: right;
	}
}
/*Footer ends here*/

/*Home page begins here*/
#mpslider {
	width: 100%;
	height: 100%;
	position: relative;
	ul.slides {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		&:after {
			content: "";
			clear: both;
			display: table;
		}
		& > li {
			width: 100%;
			height: 100%;
			& > .imgwrap {
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 2;
				background: center center no-repeat;
				background-size: cover;
				img {
					min-width: 100%;
					min-height: 100%;
				}
			}
			& > .txtwrap {
				position: absolute;
				z-index: 3;
				width: 1000px;
				max-width: 80%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				color: #fff;
				font-size: 0.7vw;
				@media(max-width: 991.98px){
					font-size: 1vw;
				}
				@media(max-width: 500px){
					font-size: 1.5vw;
				}
				a {
					color: #fff;
				}
				h3 {
					font-size: 9em;
					font-weight: 700;
				}
				h4 {
					font-size: 2.3em;
				}
				p {
					font-size: 2em;
				}
			}
		}
	}
	ol.flex-control-nav {
		position: absolute;
		z-index: 2;
		bottom: 60px;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 80%;
		& > li {
			display: block;
			float: left;
			margin: 10px;
			a {
				display: block;
				width: 15px;
				height: 15px;
				background: #fff;
				border-radius: 100%;
				text-indent: -9999px;
				opacity: 0.6;
				transition: 0.3s all ease;
				&:hover {
					opacity: 0.8;
				}
				&.flex-active {
					opacity: 1;
				}
			}
		}
	}
}
/*Home page ends here*/

.content {
	position: relative;
	z-index: 1;
}
.subcontent {
	position: relative;
	min-height: 300px;
	color: #626262;
	a {
		color: #626262;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000;
	}
	.img-left {
		float: left;
		margin-right: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
		max-width: 100%;
	}
}

/*topimg begins here*/
.topimg {
	width: 100%;
	overflow: hidden;
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.imgwrap {
		width: 100%;
		position: relative;
		height: 350px;
		img {
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
/*topimg ends here*/

/*subnav begins here*/
ul.subnav {
	@media(max-width: 991.98px){
		display: none;
	}
	@media(min-width: 992px){
		display: block;
	}
	list-style: none none outside;
	margin: 0;
	padding: 0;
	font-size: 1.125rem;
	& > li {
		display: block;
		width: 100%;
		& > a {
			color: #919191;
			width: 100%;
			display: block;
			border-bottom: 1px solid #c9c9c9;
			padding: 10px 25px 10px 20px;
			position: relative;
			&:after {
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				content: "\f105";
				position: absolute;
				right: 15px;
				top: 50%;
				transform: translateY(-50%);
				transition: 0.3s all ease;
			}
			&:hover, &.active {
				text-decoration: none;
				border-bottom-color: #e02928;
				color: #e02928;
			}
			&:hover {
				&:after {
					right: 5px;
				}
			}
		}
	}
}
.subnavselect {
	@media(max-width: 991.98px){
		display: block;
	}
	@media(min-width: 992px){
		display: none;
	}
}
/*subnav ends here*/

/*Sıkça sorulan sorular begins here*/
#sss-accordion {
	.card {
		border: none;
		margin-bottom: 5px;
	}
	.card-header {
		background-color: #e5e5e5;
		color: #000;
	}
	.edatogglebutton {
		cursor: pointer;
		font-size: 1.1875rem;
		position: relative;
		padding-right: 30px;
		&:after {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			content: "\f077";
		}
		&.collapsed {
			&:after {
				content: "\f078";
			}
		}
	}
}
/*Sıkça sorulan sorular ends here*/

/*Cookie reminder begins here*/
.cr-content {
	background: #d42e12;
	color: #fff;
	text-align: center;
	padding: 15px 45px 15px 15px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 50;
	line-height: 1.3;
	font-size: 15px;
	a {
		opacity: 0.7;
		color: #fff;
		transition: 0.3s all ease;
		&:hover {
			opacity: 1;
		}
	}
	button.cr-closebutton {
		padding: 0;
		margin: 0;
		background: transparent;
		border: none;
		outline: none;
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translate(-50%, -50%);
		cursor: pointer;
		&:after {
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			content: "\f00d";
			color: #fff;
			transition: 0.3s all ease;
		}
		&:hover {
			&:after {
				zoom: 1.3;
			}
		}
	}
}
/*Cookie reminder ends here*/
